h1{
    color:red;
}

:root{
    --color-hunter-green: #3E5641;
    --color-chestnut: #A24936;
    --color-beau-blue: #BDD5EA;
    --color-gold-metallic: #C2A83E;
    --color-charleston-green:#282B28 ;
    --color-green-sheen: #83BCA9;
}

/*  */
.hunter-green-background{
    background-color: var(--color-hunter-green);
}
.hunter-green-text{
    color: var(--color-hunter-green);
}

/*  */
.charleston-green-background{
    background-color: var(--color-charleston-green);
}
.charleston-green-text{
    color: var(--color-charleston-green);
}

/*  */
.green-sheen-background{
    background-color: var(--color-sheen-green);
}
.green-sheen-text{
    color: var(--color-sheen-green);
}

/*  */
.chestnut-background{
    background-color: var(--color-chestnut);
}
.chestnut-text{
    color: var(--color-chestnut);
}

/*  */
.gold-background{
    background-color: var(--color-gold-metallic);
}
.gold-text{
    color: var(--color-gold-metallic);
}

.blue-background{
    background-color: var(--color-beau-blue);
}
.blue-text{
    color: var(--color-beau-blue);
}




/* 
3E5641 hunter green
A24936 chestnut
BDD5EA  beau blue
C2A83E gold metallic
282B28 charleston green
83BCA9 green sheen
 */

 h1{
     /* box-shadow: 0px 5px 5px 0px; */
     color: black;
     border-bottom: solid var(--color-charleston-green);
 }

 .personal-animation::before{
     color: var(--color-gold-metallic);
     content: "A Coder";
     animation: animate infinite 10s;
     /* transform: translate3d(0px, 0px, 0px); */
 }

 @keyframes animate {

    0%{
        content: "A Coder";
    }
    10%{
        content: "A Leader";
    }
    20%{
        content: "Ambitious";
    }
    30%{
        content: "Creative";
    }
    40%{
        content: "A Learner";
    }
    50%{
        content: "A tester";
    }
    60%{
        content: "Software Engineer";
    }
    70%{
        content: "Solution expert";
    }
     80%{
         content: "Persistant";
     }
     90%{
         content: "Hands-on";
     }
     100%{
         content: "Efficient";
     }
 }